.jumbotron {
	color: white;
	background-image: url("../img/EastWest Bioscience/banner.png");
	background-position: center;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	height: 365px;
}

.footerimg {
	background-image: url("../img/EastWest Bioscience/footer.png");
	margin: 0;
}

mark {
	/*background-color: rgb(126, 170, 58);*/
	color: #000;
	font-weight: 800;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 2px solid rgb(126, 170, 58);
	border-radius: 2px;
}

table.dataTable thead tr {
	background-color: rgb(126, 170, 58);
	border-radius: 2px;
	color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: white !important;
	border: 0;
	border-radius: 4px;
	background: rgb(126, 170, 58);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: black !important;
	border: 1px solid white;
	border-radius: 4px;

	background: rgb(126, 170, 58);
}

.dataTables_wrapper .dataTables_filter input {
	border-radius: 7px;
	border: 2px solid rgb(126, 170, 58);
}

.dataTables_wrapper .dataTables_filter input:hover {
	background-color: rgba(126, 170, 58, .2);
	transition: .2s all ease;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: rgba(126, 170, 58, .4);
	transition: .2s all ease;
}

.panel-default {
	text-align: center;
	margin: auto;
	width: 80%;
}

.panel-default-NP {
	width: 100%;
	text-align: center;
	margin: auto;
}

.panel-heading {
	background-color: rgb(126, 170, 58);
}

.panel-title {
	color: #fff;
}

.arrow-down {
	width: 0;
	height: 6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-top: 10px solid #fff;
}

.card {
	width: 80%;
	margin: auto;
	flex: 1 1 auto;
	border: 2px rgb(126, 170, 58) solid;
	border-radius: 7px;
	margin-bottom: .2em;
}
.card-body {
	margin: 1em;
}
.card-header {
	text-decoration: none;
	background-color: rgb(126, 170, 58);
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
}

.mb-0>a {
	color: white;
	display: block;
	position: relative;
}

.mb-0>a:after {
	content: "\f078";
	/* fa-chevron-down */
	font-family: 'FontAwesome';
	position: absolute;
	right: 0;
}

.mb-0>a[aria-expanded="true"]:after {
	content: "\f077";
	/* fa-chevron-up */
}