html, body {
    /* font-family: 'Rubik Mono One', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

#mainYam {
    width: 50%;
    display: block;
    margin: 1em auto 1em auto;
    width: 50%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    opacity: .9;
    transition: 0.1s;
}

#counterOuter {
    height: 4em;
    margin: 1em auto 1em auto;
    overflow: hidden;
}

#siFormat, #decFormat {
    height: 4em;
    margin: 0;
    text-align: center;
    line-height: 4em;
}

#price {
    float: right;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    text-align: center;
    width: 30%;
    background: black;
    border-radius: 2em;
}

#upgradeCost {
    margin: 0 0 0 0;
}

#siFormat:hover {
    margin-top: -4em;
}


#mainYam:active {
    transform: translateY(3px);
}

#mainYam:hover {
    opacity: 1;
    transition: 0.1s;
}

#yamcountry, #yamcountry2 {
    text-align: center;
    margin: 0;
}

#storeItem {
    border: 1px solid black;
}

#counter {
    -webkit-appearance: @value;
    -moz-appearance: @value;
    -ms-appearance: @value;
    -o-appearance: @value;
    appearance: @value;
    box-shadow: none !important;
    outline: none;
    border: 0;
    text-align: center;
    background-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    padding: .33em;
    background: #666;
    color: #fff;
}

.content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000;
}

.columns {
    display: flex;
    flex: 1;
}

.main {
    flex: 1;
    order: 2;
    background: #eee;
}

.sidebar-first {
    width: 30%;
    background: #ccc;
    order: 1;
}

.sidebar-second {
    width: 30%;
    order: 3;
    background: #ddd;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    clear: both;
        display: flex;
        height: 100%;

}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}